#top{
    border-style: solid;
    border-color: cyan;
    border-width: 6px;
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
    padding-left: 300px;
    background-color: yellow;
    font-family: 'Oswald', sans-serif;
}
#bottom{
    border-style: solid;
    border-color:tomato;
    border-width: 6px;
    width: 50%;
    margin-top: 500px;
    margin-left: 250px;
    padding-left: 300px;
    background-color: yellowgreen;
    font-family: 'Nerko One', cursive;
}
h1{
    font-family: 'Lora', serif;
}